:root {
  --main-background-color: #f3f4f6;
  --accent-color: #295269;
  --accent-font-color: white;
}

h1 {
  margin: 0px;
}
h2 {
  margin: 0px;
}

body {
  background-color: var(--main-background-color);
  color: black;
}

input,
textarea {
  color: black;
  border: solid 0px;
  border-radius: 8px;
  padding: 8px;
  background-color: var(--main-background-color);
}

.white-page {
  margin: 24px;
  background-color: white;
  box-shadow: 0 0 8px gray;
  height: 27.17647cm;
}

.right-panel-div {
  width: 21cm;
  min-width: 14cm;
}

.left-panel-form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.form-container {
  border: solid 0px;
  background-color: white;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 0 8px gray;
  margin: 24px;
}

.form-button-div {
  display: flex;
  justify-content: space-between;
}

.personal-details-header {
  color: var(--accent-font-color);
  border: solid 0px;
  background-color: var(--accent-color);
}

.page-splitter {
  display: flex;
}

.add-entry-button {
  border: solid var(--main-background-color) 4px;
}

.form-buttom {
  display: flex;
  justify-content: center;
  margin: 8px;
}

.cv-listing {
  display: flex;
}

.cv-listing-left {
  flex: 1;
}

.cv-listing-right {
  flex: 2;
  text-align: center;
}

.cv-list-header {
  background-color: var(--accent-color);
  color: var(--accent-font-color);
  text-align: center;
}

.finish-button,
.cancel-button,
.delete-button {
  display: inline-flex;
  align-items: center;
  margin: 8px;
}
